{% extends "home.html" %}
{%block form_content %}
 <form class="form-horizontal" role="form" action="#"  method="POST" >
                    <div class="form-group">
                        <table>
                            <tr>
                                <td><b>版本库名:</b></td>
                                <td>{{ form.firstname(size=25, class="form-control") }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>xxxxx</b></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button type="submit" class="btn btn-primary" name="do_action" value="create_account" >Create account</button></td>
                            </tr>
                        </table>
                     </div>
 <div class="col-md-offset-1 col-md-10">
       <button type="submit" class="btn btn-danger btn-sm" >更 新</button>
  <div>
   </div>
 </form>
{%endblock%}
