{%extends "home.html" %}

{% block form_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <b>发布版本</b>
    </div>
    <div class="panel-body">
      <div style="margin-left:400px;">
          <form action="{{ url_for('backup_or_rollback') }}" method="post" onsubmit="getElementById('Input').disabled=true;return true;">
                   {{ form.hidden_tag() }}
             <table style="margin-top:40px">

                    <tr>
                       <td><b>版本库名:</b></td>
                       <td>{{ form.repo_name(size=1, class="form-control") }}</td>
                   </tr>
                   <tr>
                     <td>&nbsp;</td>
                   </tr>
                   <tr>
                     <td>&nbsp;</td>
                   </tr>
                   <tr>
                     <td>&nbsp;</td>
                   </tr>
                   <tr>
                      <td>排除目录或文件: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>{{form.exclude_dir(size=1,class="form-control",placeholder="dir;file;")}}</td>
                  </tr>
                   <tr>
                     <td>&nbsp;</td>
                   </tr>
                   <tr>
                     <td>&nbsp;</td>
                   </tr>
                   <tr>
                     <td>&nbsp;</td>
                   </tr>

                   <tr>
                      <td>操作类型: &nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>{{form.back_or_roll(size=1,class="form-control")}}</td>
                  </tr>
                   <tr>
                     <td>&nbsp;</td>
                   </tr>
                   <tr>
                     <td>&nbsp;</td>
                   </tr>
                   <tr>
                     <td>&nbsp;</td>
                   </tr>
                   <tr>
                      <td>环境密码:&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>{{form.password(size=20,class="form-control")}}</td>
                  </tr>
                  {%for mess in form.password.errors %}
                  <div class="alert alert-danger" role="alert">
                      <b>Error: </b>{{ mess }} 
                  </div>
                  {%endfor%}
                   <tr>
                     <td>&nbsp;</td>
                   </tr>
                   <tr>
                     <td>&nbsp;</td>
                   </tr>
                  <tr>
                    <td>&nbsp;</td>
                  <td> 
                      <button class="btn btn-primary" type="submit" id="Input" style="margin-left:50px" name="do_action" value="backup" >提交</button>
                   </td>
                  </tr>
                  </table>
            {%if auth %}
            <div class="alert alert-danger" role="alert">
               <b>Error:</b> 密码错误
            </div>
            {%endif%}
            {%if errors %}
             <div class="alert alert-danger" role="alert">
               <b>Error:</b> {{ errors }}
           </div>
            {%endif%}
            {%if info %}
             <div class="alert alert-success" role="alert">
               <b>Success:</b> {{ info }}
           </div>
            {%endif%}
    </form>
      </div>
    </div>
</div>


{% endblock %}

