{%extends "home.html" %}
{% block form_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <b>版本库信息</b>
    </div>
    <div class="panel-body">
      <div style="margin-left:10px;">
    {%if deploys %}
        <div class='table-responsive'>
          <table class="table table-hover">
            <thead>
            <tr class="info">
            <th>Name</th>
            <th>Now_version</th>
            <th>Target</th>
            <th>Env</th>
            <th>Update</th>
            <th>Person</th>
            </tr>
           </thead>
           <tbody>
               {% for deploy in deploys %}
                <tr>
                    <td>{{ deploy.repo_name }}</td>
                    <td>{{ deploy.now_version }}</td>
                    <td>{{ deploy.deploy_target }}</td>
                    <td>{{ deploy.deploy_env }}</td>
                    <td>{{ deploy.deploy_date }}</td>
                    <td>{{ deploy.deploy_person }} </td>
                </tr>
            {% endfor %}
          </tbody>
      </div>
    {%endif%}
     </div>
   </div >
 </div>
{% endblock %}
