{%extends "base.html" %}
{%block banner%}
  <a class="navbar-brand" style="margin-left:62%" >每 天 惠 版 本 发 布 系 统</a>
{%endblock%}
{%block home %}
{%endblock%}

{% block content %}
<div class="container" style="MARGIN-LEFT: auto;margin-top:200px;
    height:200px;
    width:400px;
    vertical-align:middle;
    ">

<form action="{{ url_for('login') }}" method="post">
  {{ form.hidden_tag() }}
  <table>
    <tr>
      <!-- <td><b>用户:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td> -->
      <td> <button type="button" class="btn btn-default btn-sm" style="text-shadow: black 5px 3px 3px;">
         <span style="color: rgb(19, 140, 60);" class="glyphicon glyphicon-user"> User</span>
    </button>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </td>
      <td>{{ form.email(size=20, class="form-control") }}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
       <!-- <td><b>密码:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td> -->
    <td> <button type="button" class="btn btn-default btn-sm" style="text-shadow: black 5px 3px 3px;">
         <span style="color: rgb(19, 140, 60);" class="glyphicon "> Password</span>
    </button>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </td>
      <td>{{ form.password(size=20, class="form-control") }}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button style="width:100%" type="submit" class="btn btn-primary" name="do_action" value="login" >登陆</button></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  {% if failed_auth %}
    <div class="alert alert-danger" role="alert">
      <b>ERROR:</b> Bad Email or Password. contact SA hoo@wikiki.cn
    </div>
  {% endif %}
  {% for message in form.email.errors %}
    <div class="alert alert-danger" role="alert">
      <b>ERROR:</b> {{ message }}
    </div>
  {% endfor %}
  {%if not form.email.errors%}
  {% for message in form.password.errors %}
    <div class="alert alert-danger" role="alert">
      <b>ERROR:</b> {{ message }}
    </div>
  {% endfor %}
  {%endif%}
</form>
</div>
{% endblock %}
