{%extends "home.html" %}
{% block form_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <b>版本库信息</b>
    </div>
    <div class="panel-body">
      <div style="margin-left:10px;">
    {%if repos %}
        <div class='table-responsive'>
          <table class="table table-hover">
            <thead>
            <tr>
            <th>id</th>
            <th>Name</th>
            <th>RepoAddres</th>
            <th>Checkout</th>
            <th>Testing</th>
            <th>Online</th>
            <th>Type</th>
            </tr>
           </thead>
           <tbody>
               {% for repo in repos %}
                <tr>
                    <td>{{ repo.repo_name }}</td>
                    <td>{{ repo.repo_address }}</td>
                    <td>{{ repo.local_checkout_path }}</td>
                    <td>{{ repo.test_deploy_path }}</td>
                    <td>{{ repo.remote_deploy_path }}</td>
                    <td>{{ repo.repo_type }} </td>
                </tr>
            {% endfor %}
          </tbody>
      </div>
    {%endif%}
     </div>
   </div >
 </div>
{% endblock %}
